@model ProjectFinalEngineer.Models.AggregatePost.Post
@{
    ViewData["Title"] = @Model.Title;
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Post/details.css">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>
<body>
    <partial name="_AlertMessage" />
    <div id="forum">
        <div class="container">
            <div id="forum-wapper">
                <aside>
                    <div class="forum-left">
                        <button>
                            <a asp-action="Index">Các bài viết</a>
                        </button>
                        <ul class="forum-ul">
                            <li>
                                <a href="###">
                                    <span></span>
                                    Tất cả chủ đề
                                </a>
                            </li>
                            <li>
                                <a href="###">
                                    <span></span>
                                    Phổ biến
                                </a>
                            </li>
                            <li>
                                <a href="###">
                                    <span></span>
                                    Phổ biến trong tuần
                                </a>
                            </li>
                            <li>
                                <a href="###">
                                    <span></span>
                                    Kiến thức
                                </a>
                            </li>
                            <li>
                                <a href="###">
                                    <span></span>
                                    Giải đáp
                                </a>
                            </li>
                            <li>
                                <a href="###">
                                    <span></span>
                                    Trao đổi, mua bán
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div id="forum-main">
                    <div class="fm-text">
                        <div>
                            <div class="table">

                                <div class="contact-element">
                                    <div class="contact-element-avatar">
                                        <img class="ct-image" src="~/images/avatars/default-avatar-23.webp">
                                    </div>
                                    <div class="contact-element-content">
                                        <div>
                                            <div class="ct-header">
                                                <h4>
                                                    @Html.DisplayFor(model => model.Author.UserName)
                                                </h4>
                                                <div class="ct-header-analytics">
                                                    <div class="ct-header-analytics-see">
                                                        <div>
                                                            <i class="far fa-eye"></i>
                                                        </div>
                                                        <div class="soluong">66</div>
                                                    </div>
                                                    <div class="ct-header-analytics-mess">
                                                        <div>
                                                            <i class="far fa-comment-dots"></i>
                                                        </div>
                                                        <div class="soluong">66</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ct-body-time">
                                                <p>
                                                    &nbsp;tạo bài viết vào @Html.DisplayFor(model => model.DateUpdated.Day)/@Html.DisplayFor(model => model.DateUpdated.Month)/@Html.DisplayFor(model => model.DateUpdated.Year)
                                                </p>
                                            </div>
                                            <div class="title-details">
                                                <h1>
                                                    @Html.DisplayFor(model => model.Title)
                                                </h1>
                                            </div>
                                            <div class="ct-body-content">
                                                <p>
                                                    @Html.DisplayFor(model => model.Content)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <aside>
                    <div class="forum-left">
                        <div class="container-ex">
                            <div class="wt-title"><p>Thời tiết</p></div>
                            <div class="search-box">
                                @*                                <img src="~/images/avatars/icons8-weather-64.png">*@
                                <i class="fa-solid fa-location-dot loca-icon"></i>
                                <input type="text" placeholder="Vị trí của bạn">
                                <button class="wt-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="not-found">
                                <img src="~/images/avatars/404.png">
                                <p style="color:white">Không tìm thấy vị trí</p>
                            </div>
                            <div class="not-location">
                                <p style="color:white">Chưa nhập vị trí</p>
                            </div>
                            <div class="weather-box">
                                <img src="">
                                <p class="temperature" style="color:white"></p>
                                <p class="description" style="color:white"></p>
                            </div>

                            <div class="weather-details">
                                <div class="humidity">
                                    <i class="fa-solid fa-water" style="color:white"></i>
                                    <div class="text">
                                        <span style="color:white"></span>
                                        <p style="color:white">Độ ẩm</p>
                                    </div>
                                </div>
                                <div class="wind">
                                    <i class="fa-solid fa-wind" style="color:white"></i>
                                    <div class="text">
                                        <span style="color:white"></span>
                                        <p style="color:white">Tốc độ gió</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*serp stack*@
                        <div class="container-ex-1">
                            <div class="wt-title"><p>Google</p></div>
                            <form id="form" autocomplete="off" class="search-box">
                                <i class="fab fa-google loca-icon"></i>
                                <input type="text" id="search" placeholder="Vui lòng nhập từ khóa">
                                <button>
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                            <div>
                                <img width="144px;" height="144px;" src="~/images/avatars/icons8-google-news22.svg" style=" margin-left:50px;" />
                                <div class="google-search">
                                    <div class="google-search-element">Tìm kiếm thông tin với google</div>
                                </div>
                            </div>
                            <div id="result">
                            </div>
                        </div>
                        <div class="container-ex-2">
                            <div class="img-ex-2"><img width="134px;" height="110px;" src="~/images/avatars/news-1.jpg" /></div>
                            <div class="title-ex-2">
                                <p>
                                    Đại học bách khoa Hà Nội
                                </p>
                            </div>
                            <div class="search-ex-2">
                                <a href="https://ctt.hust.edu.vn/" target="_blank">
                                    Cổng thông tin
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <script src="~/js/Post/Post.js"></script>
</body>

@*@model ProjectFinalEngineer.Models.AggregatePost.Post

@{
    ViewData["Title"] = @Model.Title;
}

<h1>@ViewData["Title"]</h1>




<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Sửa</a> |
    <a asp-action="Index">Các bài viết</a>
</div>*@
@*<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Url
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>*@