@using ProjectFinalEngineer.Models.AggregateCategory
@model IEnumerable< ProjectFinalEngineer.Models.AggregateCategory.Category>

@{
    ViewData["Title"] = "Chuyên mục Blog";
}

<head>
    <link rel="stylesheet" href="~/css/User/index.css">
</head>

<section class="userArea-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="userArea-main-header">
        <header>
            <h3>Quản lý thành viên</h3>
            <p>Đây là trang quản lý thành viên của diễn dàn </p>
        </header>
    </div>
    <div>
        <article class="userArea">
            <div class="userArea-article">
                <div class="userArea-article-line">
                    <h1>Danh sách các thành viên</h1>
                    <aside class="userArea-aside">
                        
                    </aside>
                </div>
            </div>
            <img class="userArea-image" src="~/images/avatars/developing-serverless-functions.svg"
                 style="width: 310px;">
        </article>
    </div>
</section>     




<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Tạo chuyên mục</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            await RenderCategory(item, 0);
        }

    </tbody>
</table>


@{
    async Task RenderCategory(Category item, int level)
    {
        string prefix = string.Concat(Enumerable.Repeat("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", level));
        <tr>
            <td>
                @Html.Raw(prefix)
                <a asp-action="Edit" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
        if (item.CategoryChildren?.Count > 0)
        {
            foreach (var cCategory in item.CategoryChildren)
            {
                await RenderCategory(cCategory, level + 1);
            }
        }
    }
}