@using ProjectFinalEngineer.Models.AggregateUser;
@model AddUserRoleModel
@{
    ViewData["Title"] = "Thêm vai trò";
}

<head>
    <link rel="stylesheet" href="~/css/User/addrole.css">
</head>

<section class="userArea-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="userArea-main-header">
        <header>
            <h3>Thêm vai trò</h3>
            <p>Đây là trang thiết lập vai trò cho thành viên</p>
        </header>
    </div>
    <div>
        <article class="userArea">
            <div class="userArea-article">
                <div class="userArea-article-line">
                    <h1>Thành viên @Model.User.UserName</h1>
                    <aside class="userArea-aside">
                        <div class="aside-user-table">
                            <div class="as-u-tb-form">
                                <form class="as-u-tb-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="RoleNames">Danh sách các vai trò</label>
                                        <span class="list-role">
                                            @Html.ListBoxFor(m => m.RoleNames, (IEnumerable<SelectListItem>)ViewBag.allRoles,
                                            new {
                                            id = "id-select-roles",
                                            })
                                        </span>
                                        <span asp-validation-for="RoleNames" class="text-danger"></span>
                                    </div>
                                    <div class="as-u-tb-form-title">
                                        <p>Các quyền của thành viên (Số lượng: @Model.ClaimsInRole.Count)</p>
                                    </div>
                                    @if (Model.ClaimsInRole.Count > 0)
                                    {
                                        <div class="list-user-claim">
                                            <div class="userArea-name">
                                                <dt>Tên quyền</dt>
                                                @foreach (var claim in Model.ClaimsInRole)
                                                {
                                                    <dd> @claim.ClaimType</dd>
                                                }
                                            </div>
                                            <div class="userArea-role">
                                                <dt>Tác vụ</dt>
                                                @foreach (var claim in Model.ClaimsInRole)
                                                {
                                                    <dd>
                                                        @claim.ClaimValue
                                                    </dd>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="claim-private">
                                        <p>
                                            Các quyền riêng
                                        </p>
                                        <a asp-action="AddClaim" asp-route-userid="@Model.User.Id">+ Thêm quyền</a>
                                    </div>

                                    @if (Model.ClaimsInUserClaim.Count > 0)
                                    {
                                        <div class="as-u-tb-form-title1">
                                            <p>Các quyền riêng của thành viên (Số lượng @Model.ClaimsInUserClaim.Count)</p>
                                        </div>
                                        <div class="claim-private-list">
                                            <div class="userArea-name">
                                                <dt>Tên quyền</dt>
                                                @foreach (var claim in Model.ClaimsInUserClaim)
                                                {
                                                    <dd>
                                                        <a asp-action="EditClaim" asp-route-claimid="@claim.Id">@claim.ClaimType</a>
                                                    </dd>
                                                }
                                            </div>
                                            <div class="userArea-role">
                                                <dt>Tác vụ</dt>
                                                @foreach (var claim in Model.ClaimsInUserClaim)
                                                {
                                                    <dd>
                                                        <a asp-action="EditClaim" asp-route-claimid="@claim.Id"> @claim.ClaimValue</a>
                                                    </dd>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="user-role-action">
                                        <a class="btn btn-primary" asp-action="Index">Danh sách thành viên</a>
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>                                     
                                    </div>

                                </form>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <img class="userArea-image" src="~/images/avatars/visual-studio-code-for-php-developers.svg"
                 style="width: 310px;">
        </article>
    </div>
</section>

@section Scripts {

    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
