@using ProjectFinalEngineer.Models.AggregateManage;
@model IndexViewModel
@{
    ViewData["Title"] = "Quản lý tài khoản của bạn";

}

<p class="text-success">@ViewData["StatusMessage"]</p>

<head>
    <link rel="stylesheet" href="~/css/Manage/index.css">
</head>

<section class="db-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="db-main-header">
        <header>
            <h3>Thông tin cá nhân</h3>
            <p>Trang thông tin cá nhân của @Html.DisplayFor(m => Model.profile.UserName)</p>
        </header>
    </div>
    <div>
        <img class="db-image" src="~/images/avatars/sub-lifetime.svg"
             style="width: 310px; top:60px; left:-10px;">
        <article class="db">
            <div class="db-article">
                <div class="db-article-line">
                    <div class="main-info">
                        <h2>Thông tin cơ bản</h2>
                        <div class="card-info">
                            <div class="card-body-info">
                                <div class="edit" title="Chỉnh sửa thông tin">
                                    <a asp-action="EditProfile" class="action-input-change">
                                        <i class="fa fa-pen fa-xs "></i>
                                    </a>
                                </div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayNameFor(m => Model.profile.UserName)</td>
                                            <td>:</td>
                                            <td>@Html.DisplayFor(m => Model.profile.UserName)</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ thư điện tử</td>
                                            <td>:</td>
                                            <td>@Html.DisplayFor(m => Model.profile.UserEmail)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(m => Model.profile.PhoneNumber)</td>
                                            <td>:</td>
                                            <td>@Html.DisplayFor(m => Model.profile.PhoneNumber)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(m => Model.profile.HomeAdress)</td>
                                            <td>:</td>
                                            <td>@Html.DisplayFor(m => Model.profile.HomeAdress)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(m => Model.profile.BirthDate)</td>
                                            <td>:</td>
                                            <td>@Html.DisplayFor(m => Model.profile.BirthDate)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <aside class="db-aside">

                        </aside>
                    </div>
                </div>
                <img class="db-image" src="~/images/avatars/drehimself-placeholder.webp"
                     style="width: 310px; bottom: -1px; right: 0px;">
            </div>
        </article>

        <div class="user-info-advanced">
            <h2>Thiết lập nâng cao</h2>
            <div class="card-info-avanced">
                <div class="user-info-common">
                    <div class="user-info-pass">
                        <div class="user-info-pass-title">Mật khẩu</div>
                        <div class="user-info-pass-action">
                            @if (Model.HasPassword)
                            {
                                <a asp-controller="Manage" asp-action="ChangePassword">Đổi mật khẩu</a>
                            }
                            else
                            {
                                <a asp-controller="Manage" asp-action="SetPassword">Tạo mật khẩu</a>
                            }
                        </div>
                    </div>

                    <div class="user-info-relation">
                        <div class="user-info-relation-title">Liên kết tài khoản ngoài</div>
                        <div class="user-info-relation-action">

                            <a asp-controller="Manage" asp-action="ManageLogins">Quản lý liên kết ngoài</a>
                        </div>
                        <div class="user-info-relation-link">
                            <p>Hiện tài khoản đang có @Model.Logins.Count liên kết ngoài.</p>
                        </div>
                    </div>


                    <div class="user-info-phone">
                        <div class="user-info-phone-title">Số điện thoại @(Model.PhoneNumber ?? "không có")</div>
                        <div class="user-info-phone-action">                            
                            @if (Model.PhoneNumber != null){
                                <a asp-controller="Manage" asp-action="AddPhoneNumber">Thay đổi</a>
                                <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post" role="form">
                                    <button type="submit" class="btn btn-danger btn-sm">Loại bỏ số điện thoại</button>
                                </form>
                            }
                            else
                            {
                                <a asp-controller="Manage" asp-action="AddPhoneNumber">Thêm số điện thoại</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


















@*
<div>
    <dl class="row">

        <dt class="col-sm-4">Xác thực hai yếu tố:</dt>
        <dd class="col-sm-6">
            <!--<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>-->
            @if (Model.TwoFactor)
            {
                <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                    (Đang kích hoạt) <button type="submit" class="btn btn-danger btn-sm">Hủy</button>
                </form>
            }
            else
            {
                <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                    <button type="submit" class="btn btn-primary btn-sm">Kích hoạt</button>
                </form>
            }
        </dd>

        <dt class="col-sm-4">Xác thực ứng dụng:</dt>
        <dd class="col-sm-6">
            @if (Model.AuthenticatorKey == null)
            {
                <form asp-controller="Manage" asp-action="ResetAuthenticatorKey" method="post" class="form-horizontal" role="form">
                    <button type="submit" class="btn btn-sm btn-primary">Phát sinh mã</button>
                </form>
            }
            else
            {
                <text>Mã xác thực là: @Model.AuthenticatorKey</text>
                <p>Nhập mã này khi yêu cầu xác thực 2 yếu tố</p>
                <form asp-controller="Manage" asp-action="GenerateRecoveryCode" method="post" class="form-horizontal" role="form">
                    <button type="submit" class="btn btn-sm btn-primary">Phát sinh mã phục hồi</button>
                    <p>Mã phục hồi sử dụng để xác thực hai yếu tố</p>
                </form>
            }
        </dd>
    </dl>
</div>*@