@model IEnumerable<ProjectFinalEngineer.Models.RoomingHouse.RoomingHouse>

@{
    ViewData["Title"] = "Kiến thức";
    Layout = "~/Views/Shared/_LayoutHouse.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/House/house.css">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>
<body>
    <partial name="_AlertMessage" />
    <div id="forum">
        <div class="container">
            <div id="forum-wapper">
                <aside>
                    <div class="forum-left">
                        <button>
                            <a asp-action="Create">Thêm mới nhà trọ</a>
                        </button>
                        <ul class="forum-ul">
                            <li>
                                <a asp-controller="Post" asp-action="Index" class="@((ViewContext.RouteData.Values["Controller"] as string == "RoomingHouse" && ViewContext.RouteData.Values["Action"] as string == "Index") ? "active-sidebar" : "")">
                                    <span style="background-color: rgb(50 138 241);"></span>
                                    Tất cả chủ đề
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span></span>
                                    Phổ biến
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span></span>
                                    Phổ biến trong tuần
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span></span>
                                    Kiến thức
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span></span>
                                    Giải đáp
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span></span>
                                    Trao đổi, mua bán
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div id="forum-main">
                    <div class="fm-text">
                        <div class="fm-head">
                            <div class="fm-filter">
                                <div class="ft-1">
                                    <div class="select-wrap">
                                        <select>
                                            <option>Khu vực Cầu Giấy</option>
                                            <option>Khu vực Hai Bà Trưng</option>
                                        </select>
                                        @* ReSharper disable UnknownCssClass *@
                                        <svg width="20" height="16" class="fill-current text-grey-600" viewBox="0 0 10 16">
                                            @* ReSharper restore UnknownCssClass *@
                                            <path d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ft-2">
                                    <div class="select-wrap">
                                        <select>
                                            <option>Tất cả mức giá</option>
                                            <option>Dưới 1 triệu</option>
                                            <option>1 -3 triệu</option>
                                            <option>3-10 triệu</option>
                                            <option>10 triệu +</option>
                                        </select>
                                        @* ReSharper disable UnknownCssClass *@
                                        <svg width="20" height="16" class="fill-current text-grey-600" viewBox="0 0 10 16">
                                            @* ReSharper restore UnknownCssClass *@
                                            <path d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <form class="fm-search" autocomplete="off">
                                <label class="fm-s-lb">
                                    <div class="search-icon">
                                        <div class="search">
                                            <div class="search_circle"></div>
                                            <div class="search_rectangle"> </div>
                                        </div>
                                    </div>
                                    @using (Html.BeginForm("ListMyRoomingHouse", "RoomingHouse", FormMethod.Get))
                                    {
                                        <input class="fm-s-input" placeholder="Tìm kiếm..." name="searchString" value="@ViewBag.SearchString" />
                                        <button type="submit" style="display: none"></button>
                                    }
                                </label>
                            </form>
                        </div>
                        <div>
                            <div class="table">
                                @foreach (var item in Model)
                                {
                                    <div class="contact-element">
                                        <div class="contact-element-avatar">
                                            <img class="ct-image" src="~/images/avatars/default-avatar-23.webp">
                                        </div>
                                        <div class="contact-element-content">
                                            <div>
                                                <div class="ct-header">
                                                    <h4>
                                                        <a asp-action="Details" asp-route-id="@item.Id">
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </a>
                                                    </h4>
                                                    <div class="ct-header-analytics">
                                                        <div class="ct-header-analytics-see">
                                                            <div>
                                                                @* ReSharper disable UnknownCssClass *@
                                                                <i class="far fa-eye"></i>
                                                                @* ReSharper restore UnknownCssClass *@
                                                            </div>
                                                            <div class="soluong"> @Html.DisplayFor(modelItem => item.ViewCount)</div>
                                                        </div>
                                                        <div class="ct-header-analytics-mess">
                                                            <div>
                                                                @* ReSharper disable UnknownCssClass *@
                                                                <i class="far fa-thumbs-up"></i>
                                                                @* ReSharper restore UnknownCssClass *@
                                                            </div>
                                                            <div class="soluong"> @Html.DisplayFor(modelItem => item.ReactCount)</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="category-class">
                                                    <p>Khu vực: @string.Join(", ", item.RoomingHouseAreas.Select(pc => pc.Area.Title))</p>
                                                </div>
                                                <div class="category-class" style="padding-top: 10px; display: flex; flex-direction: row;">
                                                    <p style="">
                                                        Lý do từ chối:&nbsp;
                                                        <div style="color: #F56857">@Html.Raw(item.Reason) </div>
                                                    </p>
                                                </div>
                                                <div class="description-image">
                                                    <div class="image-content">
                                                        @Html.Raw(item.Image)
                                                    </div>
                                                    <div class="description-column" style="padding-top: 10px; margin-top: 20px;">
                                                        @Html.DisplayFor(modelItem=>item.Description)
                                                        @if (item.Price > 0)
                                                        {
                                                            <p>Giá tiền thuê: @Html.DisplayFor(modelItem => item.Price) đồng/tháng.</p>
                                                        }
                                                    </div>
                                                </div>

                                                <div class="ct-body">
                                                    <div class="ct-body-time">
                                                        <p style="display: flex">
                                                            @if (item.Published == true)
                                                            {
                                                                <p> &nbsp;Tạo bài đăng vào @Html.DisplayFor(modelItem => item.DateUpdated.Day)/@Html.DisplayFor(modelItem => item.DateUpdated.Month)/@Html.DisplayFor(modelItem => item.DateUpdated.Year) trạng thái "đã phê duyệt"</p>
                                                            }
                                                            else
                                                            {
                                                                <p> &nbsp;Tạo bài đăng vào @Html.DisplayFor(modelItem => item.DateUpdated.Day)/@Html.DisplayFor(modelItem => item.DateUpdated.Month)/@Html.DisplayFor(modelItem => item.DateUpdated.Year) trạng tháu "bị từ chối"</p>
                                                            }
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <partial name="_PagingXTL" model="@ViewBag.pagingModel" />
                        </div>
                    </div>
                </div>
                <aside>
                    <div class="forum-left">
                        <div class="container-ex">
                            <div class="wt-title"><p>Thời tiết</p></div>
                            <div class="search-box">
                                @* ReSharper disable UnknownCssClass *@
                                <i class="fa-solid fa-location-dot loca-icon"></i>
                                @* ReSharper restore UnknownCssClass *@
                                <input type="text" placeholder="Vị trí của bạn">
                                <button>
                                    @* ReSharper disable UnknownCssClass *@
                                    <i class="fas fa-search"></i>
                                    @* ReSharper restore UnknownCssClass *@
                                </button>
                            </div>
                            <div class="not-found">
                                <img src="~/images/avatars/404.png">
                                <p style="color:white">Không tìm thấy vị trí</p>
                            </div>
                            <div class="not-location">
                                <p style="color:white">Chưa nhập vị trí</p>
                            </div>
                            <div class="weather-box">
                                <img src="">
                                <p class="temperature" style="color:white"></p>
                                <p class="description" style="color:white"></p>
                            </div>

                            <div class="weather-details">
                                <div class="humidity">
                                    @* ReSharper disable UnknownCssClass *@
                                    <i class="fa-solid fa-water" style="color:white"></i>
                                    @* ReSharper restore UnknownCssClass *@
                                    <div>
                                        <span style="color:white"></span>
                                        <p style="color:white">Độ ẩm</p>
                                    </div>
                                </div>
                                <div class="wind">
                                    @* ReSharper disable UnknownCssClass *@
                                    <i class="fa-solid fa-wind" style="color:white"></i>
                                    @* ReSharper restore UnknownCssClass *@
                                    <div>
                                        <span style="color:white"></span>
                                        <p style="color:white">Tốc độ gió</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*serp stack*@
                        <div class="container-ex-1">
                            <div class="wt-title"><p>Đăng ký tìm trọ</p></div>
                            @*<form id="form" autocomplete="off" class="search-box">
                            <i class="fab fa-google loca-icon"></i>
                            <input type="text" id="search" placeholder="Vui lòng nhập từ khóa">
                            <button>
                            <i class="fas fa-search"></i>
                            </button>
                            </form>*@
                            <di>
                                <img width="220px;" height="160px;" src="~/images/avatars/Bạn mong muốn gì.jpg " style=" margin-left:20px; color: aquamarine" />
                                @*<div class="google-search">
                                <div class="google-search-element">Tìm kiếm thông tin với google</div>
                                </div>*@
                            </di>
                            <div id="result">
                            </div>
                        </div>
                        <div class="container-ex-2">
                            <div class="img-ex-2"><img width="229px;" height="160px;" src="~/images/avatars/Screenshot_11.png" style=" margin-left:10px; color: aquamarine" /></div>
                            @*<div class="title-ex-2">
                            <p>
                            Đại học bách khoa Hà Nội
                            </p>
                            </div>
                            <div class="search-ex-2">
                            <a href="https://ctt.hust.edu.vn/" target="_blank">
                            Cổng thông tin
                            </a>
                            </div>*@
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <script src="~/js/Post/Post.js"></script>
</body>
@*
<h1>@ViewData["Title"]</h1>

<partial name="_AlertMessage" />

<p>
    <a asp-action="Create">Tạo bài viết mới</a>
</p>
<p>Tổng số bài viết: @ViewBag.totalPosts</p>
*@